annotated-types==0.7.0
asgiref==3.8.1
asttokens==2.4.1
autoflake==2.3.1
black==24.4.2
cfgv==3.4.0
click==8.1.7
decorator==5.1.1
distlib==0.3.8
Django==5.0.6
django-debug-toolbar==4.4.2
django-extensions==3.2.3
django-stubs==5.0.2
django-stubs-ext==5.0.2
executing==2.0.1
filelock==3.15.1
flake8==7.0.0
identify==2.5.36
ipython==8.25.0
isort==5.13.2
jedi==0.19.1
matplotlib-inline==0.1.7
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.2.2
pre-commit==3.7.1
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.11.1
pydantic==2.7.4
pydantic-settings==2.3.3
pydantic_core==2.18.4
pyflakes==3.2.0
Pygments==2.18.0
python-dotenv==1.0.1
PyYAML==6.0.1
ruff==0.4.10
six==1.16.0
sqlparse==0.5.0
stack-data==0.6.3
traitlets==5.14.3
types-PyYAML==6.0.12.20240311
typing_extensions==4.12.2
virtualenv==20.26.2
wcwidth==0.2.13
